@charset "UTF-8";

@media screen and (min-width:768px)
{
    header > h1 {
        font-size: 3em;
    }

    .buff, .imagens {
        padding-top: 10vh;
        padding-bottom: 10vh;
    }

    .buff > p {
        font-size: 3vw;
    }

    .imagens > p {
        text-shadow: 2px 2px 0px black;
        font-size: 3vw;
    }

    #img01 {
        background-image: url(../imagens/out1.jpg);
        background-position-y: 75%;  
    }

    #img02 {
        background-image: url(../imagens/out2.jpg);
        background-position-y: 50%;  
    }

    #img03 {
        background-image: url(../imagens/out3.jpg);
        background-position-y: 70%;    
    }
}

